.whiteBackground { 	
	-fx-background-color: white ;
}

.settingsButton {
	-fx-background-image: url("../../../src/main/java/application/view/resources/settings-icon-2.png");
}

.okButton {
	-fx-background-image: url("../../../src/main/java/application/view/resources/ok-icon.png");
}


.searchButton {
	-fx-background-image: url("../../../src/main/java/application/view/resources/search-icon-3.png");
}

.speakButton {
	-fx-background-image: url("../../../src/main/java/application/view/resources/speech-icon.png");
}


.nextStepB {
	-fx-background-image: url("../../../src/main/java/application/view/resources/arrow-forward-icon.png");
}

.activeMic {
	-fx-border-color: rgba(255,0,0,0.5) ;
	-fx-border-width: 3px ;
	-fx-border-radius: 3px;
}